@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Semibold.ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 34px 38px 80px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;

}

.header__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 31px;
}

.header__link {
    color: #000000;
    text-decoration: none;
}

.header__btn {
    width: 150px;
    height: 43px;
}

.btn {
    background-color: #F7941E;
    border: none;
    white-space: nowrap;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    outline: 1px solid #F7941E;
    color: #F7941E;
}

.btn-text {
    text-align: center;
    text-transform: uppercase;
    font-family: Gilroy, sans-serif;
    font-size: 18px;
}

.find-gift {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block {
    background: #F1F1F2;
    max-height: 700px;
}

.text-block_1 {
    padding-top: 154px;
    padding-left: 162px;
    padding-right: 200px;
}

.find-gift__title {
    color: #000;
    font-family: Gilroy, sans-serif;
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 36px;
}

.find-gift__text {
    margin-bottom: 52px;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}

.text-block_2 {
    padding-top: 164px;
    padding-left: 105px;
    padding-right: 166px;
}

.find-gift__subtitle {
    color: #000;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 140.625%;
    margin-bottom: 45px;
}

.text_justify {
    color: #000;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 140.625%;
}

.find-gift .btn {
    width: 200px;
    height: 60px;
}

.title {
    color: #000;
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 96px;
    margin-bottom: 30px;
}

.text {
    color: #000;
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 135.938%;
    /* 24.469px */
}

.holidays {
    display: flex;
    margin-top: 64px;
    gap: 36px;
    justify-content: center;
    margin-bottom: 137px;
}

.holiday {
    background-color: #FAFAFA;
}

.holiday:hover {
    background: none;
    box-shadow: 8px 8px 30px 5px rgba(0, 0, 0, 0.522);
}

.holiday-image {
    width: 270px;
    height: 270px;
}

.holiday-cardbox {
    display: flex;
    flex-direction: column;
    gap: 74px;
    padding: 24px;
}

.holiday-title {
    color: #000;
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.holiday-btn {
    width: fit-content;
    border: none;
    background: none;
}

.ready {
    background: #F7941E;
    height: 240px;
    margin-bottom: 88px;
}

.ready-wrapper {
    display: flex;
    gap: 230px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.ready-title {
    font-family: Gilroy, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 140.625%;
}

.ready-text {
    font-family: sans-serif;
    font-size: 32px;
    line-height: 140.625%;
}

.ready-btn {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #231F20;
    padding: 18px 24px;
}

.ready-btn:hover {
    color: #000;
}

.ready-btnbox {
    display: flex;
    gap: 33px;
}

.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__textbox {
    padding-left: 78px;
    padding-top: 63px;
}

.blog {
    background: #231F20;
    width: 1170px;
    display: flex;
    margin-top: 71px;
}

.blog__author {
    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140.625%;
}

.blog__title {
    color: #FFF;
    font-family: Gilroy;
    font-size: 48px;
    font-weight: 400;
    margin-top: 30px;
    width: 492px;
    height: 125px;
}

.blog-btn {
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: 140.625%;
    margin-top: 65px;
    border: none;
    background: none;
    cursor: pointer;
}

.cardbox {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}

.card {
    width: 570px;
    background: #FFF;
    padding: 48px;
    margin-top: 40px;
}

.card:hover {
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
}

.card__title {
    color: #000;
    font-family: Gilroy, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 140.625%;
    margin-bottom: 24px;
}

.card__text {
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140.625%;
    margin-bottom: 32px;
}

.card__btn {
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140.625%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__info {
    display: flex;
    margin-top: 72px;
    margin-bottom: 35px;
    gap: 14px;
    color: #000;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140.625%;
}

.footer__list {
    display: flex;
    gap: 81px;
    list-style: none;
    margin-bottom: 98px;
}

.footer__logo {
    margin: 0 60px;
}

.footer__icons {
    display: flex;
    gap: 24px;
}
.footer__icon {
    transition: all 0.5s;
}
.footer__icon:hover {
    transform: scale(2);
}